.FeedItem {
  border: 1px solid #000;
  margin: 10px;
  text-align: left;
}
.FeedItem > div {
  padding: 5px;
}

.AuthorBlock {
  display: flex;
}
.AuthorImage {
  height: 50px;
  width: 50px;
  background-color: #aeaeae;
  border: 1px solid #000;
}
.AuthorInfo div {
  margin: 0px 0px 5px 5px;
}

.LikeBar {
  border-top: 1px solid #000;
  background-color: #e1e1e1;
  display: flex;
}
.LikeButton {
  cursor: pointer;
  border: 1px solid #000;
  min-width: 75px;
}
.LikeButton:hover {
  background-color: #a1a1a1;
  color: #fff;
}
.LikedBy {
  display: flex;
}
.LikedBy div {
  padding: 5px;
}